body { font-family: Georgia; color: #C0C0C0; background-color: #d1e5e1;}


h1 { font-family: Helvetica; color: #2096ba; }

#RT {
  position: relative;
  top: 25px;
}

#RL {
  position: relative;
  left: 40px;
}

#REL {
  position: relative;
  left: 40px;
}



.orangebox {
  background-color: white;
  border: 3px black solid;
  padding: 15px;
  width: 400px;
  height: 55px;
}