
body { font-family: Georgia; color: #C0C0C0; background-color: #f42069;}

div.puppy {background-color: blue; color: darkred; width: 120px;
  height: 120px;}
div.Header {background-color: darkred; color: darkslateblue; width: 120px;
  height: 120px;}
div.Meme {background-color: green; color: orange; width: 120px;
  height: 120px;}
