
body { font-family: Georgia; color: #C0C0C0; background-color: #FF0000;}

h4 { font-family: Monospaced; color: #2096ba; }


h2 { font-family: Monospaced; color: #00FFFF; }
h4 { font-family: Lato; color: #2096ba;border-style: dotted; }